{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Xem chi tiết đơn hàng - DAHUKA{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/components/order_info.css' %}">

<section class="order-view-page">
    <a href="{% url 'purchase_list' %}" class="back-link">
        <i class="fa fa-angle-left"></i> Quay lại
    </a>

    {% include 'components/_order_info.html' %}
</section>


<script src="{% static 'account/cancel_order.js' %}"></script>
{% if user.is_staff or user.is_superuser %}
    <script src="{% static 'orders/js/order_detail.js' %}"></script>
{% endif %}
{% endblock %}
