{% extends 'base.html' %}
{% load static %}

{% block title %}Nhiệm vụ Đơn hàng {{ order.order_code }} - Nhân viên{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/components/order_info.css' %}">

<section class="order-view-page">
    <a href="{% url 'tasks:task_list' %}" class="back-link">
        <i class="fa fa-angle-left"></i> Về Danh sách Nhiệm vụ
    </a>

    {% include 'components/_order_info.html' with view_type='staff' %}

    <!-- Toast Notification -->
    <div class="toast" id="orderToast"></div>
</section>

<script src="{% static 'orders/js/order_detail.js' %}"></script>
{% endblock %}
